@charset "UTF-8";
* {
  font-family: "Noto Sans KR", sans-serif, "Dotum";
}
#content {
  width: 900px;
  margin-top: 12%;
  margin-bottom: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
/* 캡스톤디자인 */
.sub-right .board-search {
  width: 100%;
  float: left;
  margin: 40px 0;
  padding: 20px 0;
  border: 1px solid #e9e9e9;
  background: #f5f5f5;
}
.sub-right .board-list {
  float: left;
  margin-bottom: 100px;
  border-top: 2px solid #000;
}
.sub-right .board-list table thead th {
  height: 52px;
  box-sizing: border-box;
  border-bottom: 1px solid #303030;
  color: #333333;
  font-size: 13px;
}
.sub-right .board-list table tbody td {
  height: 62px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  color: #898989;
  font-size: 11px;
}
.board-list table tbody tr td a {
  color: #686767;
  font-size: 13px;
}
.board-list table tbody tr:hover {
  background: #f5f5f5;
  transition: all 0.2s linear;
}
.sub-right .board-list > .board-btn {
  width: 100%;
  float: left;
  padding: 10px 0;
}
.sub-right #write {
  width: 80px;
  float: right;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background: #444;
  text-align: center;
  font-size: 11px;
  color: #fff;
}
.sub-right #write:hover {
  background: #111;
  transition: all 0.2s linear;
}

/* 카테고리 */
.sub7_tab_menu {
  margin-top: 50px;
  margin-bottom: 20px;
}
.sub7_tab_menu > .sub7_tab {
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  width: 24%;
  text-align: center;
  line-height: 40px;
  background: #eee;
}
.check {
  background-color: #fff !important;
  border-top: 3px solid #0075c2 !important;
}

/* 검색창 */
.board-search {
  margin: 20px 0;
  padding: 10px 0;
  border: 1px solid #e9e9e9;
  background: #f5f5f5;
}
.board-search .search-con {
  padding: 0 15px;
}
.board-search .search-con select {
  width: 100%;
  width: 150px;
  height: 35px;
  float: left;
  border: 1px solid #e0e0e0;
  color: #626262;
  padding-left: 13px;
  margin-left: 15px;
  font-size: 12px;
  box-sizing: border-box;
}
.board-search .search-con select::-ms-expand {
  display: none;
}
.board-search .search-input {
  width: 100%;
  padding: 0 95px 0 15px;
  position: relative;
  box-sizing: border-box;
  width: 390px;
  float: left;
  margin: 0 0 0 5px;
}
.board-search .search-input input {
  width: 300px;
  float: left;
  border: 1px solid #e0e0e0;
  margin: 0;
  height: 35px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #fff;
}
.board-search .search-input button {
  width: 80px;
  height: 35px;
  display: block;
  border: none;
  background: #303030;
  color: #fff;
  line-height: 100%;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0;
}

/* 페이지 수 */
.page-info {
  float: right;
  line-height: 35px;
  margin-right: 15px;
  font-size: 11px;
}
.page-info span strong {
  color: #e12512;
}
.page-info span {
  margin-left: 10px;
}

/* 게시판 */
.board-glist .board-list-wrap ul li {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.board-glist .board-list-wrap ul li > a {
  display: inline-block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #eee;
}
.board-glist .board-list-wrap ul li > a div {
  display: flex;
  width: 100%;
  height: 200px;
}
.board-glist .board-list-wrap ul li img {
  display: inline-block;
  align-self: center;
  width: 100%;
  height: auto;
}
.board-glist .board-list-wrap ul li:nth-child(3n) {
  margin-right: 0%;
}
.board-glist .board-list-wrap ul li > .subject {
  line-height: 25px;
  height: 75px;
  margin: 5px 0;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-glist .board-list-wrap ul li > .date {
  font-size: 12px;
  color: #4f4f4f;
}
.board-glist .board-list-wrap ul li {
  width: 32.33333333%;
}
div.empty {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* 페이지 번호 */
.page {
  width: 420px;
  position: relative;
  text-align: center;
  margin: 90px auto;
  font-size: 12px;
}
.page > .pagePrev {
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
}
.page > .pagePrev > .pageDoubleLeft {
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.page > .pagePrev > .pageLeft {
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.page > ul li {
  display: inline;
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.page > ul li.on {
  border: 1px solid #444;
  background: #444;
}
.on > a {
  color: #fff;
}
.page > .pageNext {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.page > .pageNext > .pageRight {
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.page > .pageNext > .pageDoubleRight {
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.board-btn {
  width: 100%;
  float: left;
  padding: 10px 0;
}
/* li 점 없애기 */
ul {
  list-style: none;
}
